/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

:root {
    --glitter: url("https://assets.codepen.io/13471/silver-glitter-background.png"); 
}
/****************************************/
/* FIX IRIDESCENT DARK & LIGHT GLOSS */
/****************************************/

/* Percentages */
@property --x {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 0%;
}

@property --y {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 0%;
}

/* Rotation */
@property --rotateX {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}

@property --rotateY {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}

/* Gamma Values */
@property --gammaStart {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}

@property --gammaEnd {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}

/* Beta Values */
@property --betaStart {
    syntax: '<integer>';
    inherits: false;
    initial-value: 0;
}

@property --betaEnd {
    syntax: '<integer>';
    inherits: false;
    initial-value: 0;
}


.test {
    position: fixed;
    bottom:1em;
    right:1em;
    background:rgba(0,0,0,0.2);
    padding:1em;
    opacity: 0;
}

* {
    margin:0;
    padding:0;
}

html, body {
    background:#eeeeee;
    font-family: canada-type-gibson, sans-serif;
    font-style: normal;
    font-size: 14px;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 600;
}

.apple-request {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    background:#F16460;
    z-index: 9999;
}

.apple-request .content{
    margin:auto;
    width:300px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color:white
}

.apple-request .content h1 {
    margin-bottom:0.4em
}

.apple-request .content p {
    margin-bottom:2em
}


.orientation {
    position: absolute;
    top:0;
    right:0;
    background:rgba(0,0,0,0.4);
    z-index: 888;
}

h1 {
    font-size: 3em;
}

.container {
    margin:0 auto;
    width: 380px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.text-bold {
    font-weight:600;
}

/********************/
/* Ticket Animation */
/********************/

@keyframes moveTicket {
    /* Top Right */
    0% {
        --rotateX: 8deg; 
        --rotateY: 8deg;

        --betaStart: 0;
        --gammaStart: 30deg;

        --x: 80%;
        --y: 80%;
    } 
    /* Bottom Right */
    25% {
        --rotateX: -8deg; 
        --rotateY: 8deg;

        --betaStart: 100;
        --gammaStart: 30deg;

        --x: 80%;
        --y: 20%;
    }
    /* Bottom Left */
    50% {
        --rotateX: -8deg; 
        --rotateY: -8deg;

        --betaStart: 100;
        --gammaStart: -30deg;

        --x: 20%;
        --y: 20%;
    }
    /* Top Left */
    75% {
        --rotateX: 8deg; 
        --rotateY: -8deg;

        --betaStart: 0;
        --gammaStart: -30deg;

        --x: 20%;
        --y: 80%;
    }
    /* Restart */
    100% {
        --rotateX: 8deg; 
        --rotateY: 8deg;

        --betaStart: 0;
        --gammaStart: 30deg;

        --x: 80%;
        --y: 80%;
    }
}

.ticket-animation {
    animation-name: moveTicket;
    animation-duration: 16s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;

}


/**********
 * Ticket *  
***********/

.ticket {
    position: relative;
    margin:2em 0;
    width:380px;
    height:380px;

    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;

    text-align: center;
    overflow: hidden;

    filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.3));

    transform: perspective(600px) rotateX(var(--rotateX)) rotateY(var(--rotateY));

    animation-name: moveTicket;
    animation-duration: 16s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.ticket .top {
    padding:2em;
}

.ticket .ticketNumber {
    font-size: 3.4em;
    flex-grow: 1;

    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;        
}

.ticket img {
    border:1px solid #E6E1E5;
    margin-bottom:0.5em;
    width:44px;
    height:44px;
}

.ticket .shiny, 
.ticket .spotlight, 
.ticket .noise,
.ticket .content,
.ticket .base {
    position: absolute;
    top:0;
    left:0;
    width:100%; 
    height:100%;

    -webkit-clip-path: path("M0 8.00001C0 3.58173 3.58172 0 8 0H372C376.418 0 380 3.58172 380 8V178C373.373 178 368 183.373 368 190C368 196.627 373.373 202 380 202V372C380 376.418 376.418 380 372 380H8.00001C3.58173 380 0 376.418 0 372V202C6.62742 202 12 196.627 12 190C12 183.373 6.62742 178 0 178V8.00001Z");
            clip-path: path("M0 8.00001C0 3.58173 3.58172 0 8 0H372C376.418 0 380 3.58172 380 8V178C373.373 178 368 183.373 368 190C368 196.627 373.373 202 380 202V372C380 376.418 376.418 380 372 380H8.00001C3.58173 380 0 376.418 0 372V202C6.62742 202 12 196.627 12 190C12 183.373 6.62742 178 0 178V8.00001Z");
}

.ticket .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height:100%;
    z-index: 10 !important;
}


.ticket .shiny {
    z-index: -2
}

.ticket .base {
    background-size: cover;
}

.ticket .border {
    background: url("cardWithBorder.svg");
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: 10;
}

.ticket .info {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding:1em 2em;
}

.ticket .status {
    text-align: left;
}

.ticket .booked {
   text-align: right;
}

.ticket .footer {
    border-top: 2px dashed rgba(0,0,0,0.2);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding:1em 2em;
}

.ticket .time-left {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.ticket .progressbar {
    width:100%;
    height:8px;
    border-radius: 8px;
    margin-top:4px;
    background:#D9D9D9;
    overflow: hidden;
}

.ticket .progressbar .fill {
    background:#F16460;
    width:75%;
    height:100%;
}

/* No Gradient */
.no-gradient {
    border: 4px solid transparent;
    color:black;
    text-shadow: 0px 0px transparent
}

.no-gradient .shiny {
    background: white !important;
}

.no-gradient .ticketNumber {
    text-shadow: 0px 0px 0px rgba(0, 0, 0, .1);
    background:black;
}

.no-gradient .spotlight {
    background: radial-gradient(circle at var(--x) var(--y), rgba(255,255,255,1) 0%, rgba(0,0,0,0.2) 100%);
    mix-blend-mode: normal;

    animation-name: moveTicket;
    animation-duration: 16s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}

.no-gradient .border, 
.no-gradient .noise {
    opacity: 0;
}

.no-gradient .progressbar {
    background:rgba(0,0,0, .2);
}

/*******************/
/* Iridescent Dark */
/*******************/

.iridescent-dark {
    color:white;
    text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.1);
}

.iridescent-dark .border {
    opacity:1;
}

.iridescent-dark .progressbar {
    background: rgba(0,0,0,0.4)
}

.iridescent-dark .progressbar .fill {
    background:white;
}

.iridescent-dark .footer {
    background:transparent;
    border-top: 2px dashed rgba(255,255,255,0.6);
    padding:1em 2em 2em 2em
}

.iridescent-dark .ticketNumber {
    text-shadow: 0;
    color:white;
    background: white;
}

.iridescent-dark .spotlight {
    opacity: 1;
    animation-name: moveTicket;
    animation-duration: 16s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}

.iridescent-dark .shiny {
    background: 
        conic-gradient(from calc(176.21deg + var(--gammaStart) / 8) at 50% 50%, 
        #000000 calc(-24.66deg + var(--gammaStart) / 8), 
        #FFFFFF calc(0.25deg + var(--gammaStart) / 8),
        #000000 calc(50.63deg + var(--gammaStart) / 8),
        #000000 calc(51.97deg + var(--gammaStart) / 8),
        #FFFFFF calc(88.12deg + var(--gammaStart) / 8),
        #000000 calc(142.5deg + var(--gammaStart) / 8),
        #FFFFFF calc(196.87deg + var(--gammaStart) / 8),
        #000000 calc(256.87deg + var(--gammaStart) / 8),
        #FFFFFF calc(300deg + var(--gammaStart) / 8),
        #000000 calc(335.2deg + var(--gammaStart) / 8),
        #000000 calc(335.34deg + var(--gammaStart) / 8),
        #FFFFFF calc(360.25deg + var(--gammaStart) / 8)),

        radial-gradient(95.11% 95.11% at 36.64% 4.89%, 
            hsl(calc(178 + var(--betaStart) * 2), 66%, 49%) 0%, 
            hsl(calc(69 + var(--betaStart) * 2), 89%, 68%) 22.92%, 
            hsl(calc(300 + var(--betaStart) * 2), 98%, 84%) 46.88%, 
            hsl(calc(234 + var(--betaStart) * 2), 93%, 83%) 68.23%, 
            hsl(calc(148 + var(--betaStart) * 2), 91%, 67%) 87.5%, 
            hsl(calc(199 + var(--betaStart) * 2), 90%, 65%) 100%);

    background-blend-mode: difference, normal;
    mix-blend-mode: normal;

    animation-name: moveTicket;
    animation-duration: 16s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}

.iridescent-dark .noise {
    opacity: 1;

    background-image: var(--glitter), var(--glitter), radial-gradient(50% 50% at calc(100% - var(--x)) calc(100% - var(--y)), #FFFFFF 0%, #000000 100%);
    background-size: 100% 100%, 80% 80%, 200% 200%;
    background-blend-mode: multiply, multiply, overlay;
    background-position: 50% 50%, 50% 50%, 50% 50%;

    mix-blend-mode: color-dodge;

    filter: brightness(2) contrast(0.8);

    animation-name: moveTicket;
    animation-duration: 16s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}

/********************/
/* Iridescent Light */
/********************/

.iridescent-light .shiny {
    background-blend-mode: screen, difference, normal;
    mix-blend-mode: normal;
    background:
        conic-gradient(from calc(176.21deg + var(--gammaStart) / 8) at 50% 50%, 
            #000000 calc(-24.66deg + var(--gammaStart) / 8), 
            #FFFFFF calc(0.25deg + var(--gammaStart) / 8),
            #000000 calc(50.63deg + var(--gammaStart) / 8),
            #000000 calc(51.97deg + var(--gammaStart) / 8),
            #FFFFFF calc(88.12deg + var(--gammaStart) / 8),
            #000000 calc(142.5deg + var(--gammaStart) / 8),
            #FFFFFF calc(196.87deg + var(--gammaStart) / 8),
            #000000 calc(256.87deg + var(--gammaStart) / 8),
            #FFFFFF calc(300deg + var(--gammaStart) / 8),
            #000000 calc(335.2deg + var(--gammaStart) / 8),
            #000000 calc(335.34deg + var(--gammaStart) / 8),
            #FFFFFF calc(360.25deg + var(--gammaStart) / 8)),

    
        conic-gradient(from calc(176.21deg + var(--gammaStart) / 8) at 50% 50%, 
            #000000 calc(-24.66deg + var(--gammaStart) / 8), 
            #FFFFFF calc(0.25deg + var(--gammaStart) / 8),
            #000000 calc(50.63deg + var(--gammaStart) / 8),
            #000000 calc(51.97deg + var(--gammaStart) / 8),
            #FFFFFF calc(88.12deg + var(--gammaStart) / 8),
            #000000 calc(142.5deg + var(--gammaStart) / 8),
            #FFFFFF calc(196.87deg + var(--gammaStart) / 8),
            #000000 calc(256.87deg + var(--gammaStart) / 8),
            #FFFFFF calc(300deg + var(--gammaStart) / 8),
            #000000 calc(335.2deg + var(--gammaStart) / 8),
            #000000 calc(335.34deg + var(--gammaStart) / 8),
            #FFFFFF calc(360.25deg + var(--gammaStart) / 8)),

        radial-gradient(95.11% 95.11% at 36.64% 4.89%, 
            hsl(calc(178 + var(--betaStart) * 2), 66%, 49%) 0%, 
            hsl(calc(69 + var(--betaStart) * 2), 89%, 68%) 22.92%, 
            hsl(calc(300 + var(--betaStart) * 2), 98%, 84%) 46.88%, 
            hsl(calc(234 + var(--betaStart) * 2), 93%, 83%) 68.23%, 
            hsl(calc(148 + var(--betaStart) * 2), 91%, 67%) 87.5%, 
            hsl(calc(199 + var(--betaStart) * 2), 90%, 65%) 100%);       

            animation-name: moveTicket;
            animation-duration: 16s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-out;                
}

.iridescent-light {
    color:white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.iridescent-light .border {
    opacity:0;
}

.iridescent-light .progressbar {
    background: rgba(0,0,0,0.4)
}

.iridescent-light .progressbar .fill {
    background-color: white;
}

.iridescent-light .footer {
    background:transparent;
    border-top: 2px dashed rgba(255,255,255,0.6);
    padding:1em 2em 1em 2em
}

.iridescent-light .spotlight {
    opacity: 1;
}

.iridescent-light .shiny {
    background-blend-mode: screen, difference, normal;
    mix-blend-mode: normal;
}

.iridescent-light .ticketNumber {
    background: white;
}

.iridescent-light .noise {
    opacity: 1;
    background-image: var(--glitter), radial-gradient(50% 50% at calc(100% - var(--x)) calc(100% - var(--y)), #FFFFFF 0%, #000000 100%);
    background-size: 100% 100%, 200% 200%;
    background-blend-mode: overlay, soft-light;
    background-position: 50% 50%, 50% 50%;

    mix-blend-mode: soft-light;

    animation-name: moveTicket;
    animation-duration: 16s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}


/********/
/* Gold */
/********/

.gold {
    text-shadow: 0px 0px transparent;
    color:hsl(49, 98%, 18%);
}
.gold .border {
    opacity: 0;
}

.gold .ticketNumber {
    background: 
        radial-gradient(ellipse 100% 100% at calc(100% - var(--x)) calc(100% - var(--y)), #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
        radial-gradient(ellipse 100% 100% at var(--x) var(--y), #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);

    animation-name: moveTicket;
    animation-duration: 16s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}

.gold .progressbar {
    background:rgba(0,0,0,0.1)
}

.gold .progressbar .fill {
    background: #F16460
}

.gold .shiny {
    background: #F8F6F0 !important;
}

.gold .footer {
    border-top: 2px dashed rgba(0,0,0,0.2);
    padding: 1em 2em;
}

.gold .spotlight {
    background: radial-gradient(circle at var(--x) var(--y), #000000 0%, #F8F6F0 100%);
    mix-blend-mode: overlay;

    animation-name: moveTicket;
    animation-duration: 16s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;

}

.gold .noise {
    background-image: var(--glitter), linear-gradient(#FDD835 0%, #FDD835 100%);
    background-size: 100% 100%;

    mix-blend-mode: overlay;
}

/************************** 
 * Buttons, Form and list *  
***************************/

form {
    background: rgba(0,0,0,0.5);
    padding:1em;
    color:white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

form .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-line-pack: center;
        align-content: center;
}

form .item label {
    margin-right:1em;
    margin-bottom: 0;
}

.tab {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    border-bottom:1px solid rgba(0,0,0,0.2)
}

.tab .item {
    -ms-flex-preferred-size: 33.33%;
        flex-basis: 33.33%;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding:1em;
    border-bottom:4px solid transparent;
    font-size: 12px;
}

.tab .item img {
    width:40px;
    height:40px;
    margin-bottom:8px
}

.tab .item.active {
    border-bottom:2px solid #212121
}

.list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.list .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom:1px solid rgba(0,0,0,0.2);
    padding: 1em;
}

.button.startButton {
    background:white;
    color:black !important;
    border:0;
}

.button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 12px 24px;
    border-radius: 80px;
    font-weight: 600;
    color:white;
    text-transform: uppercase;
}

.button.fastTrack {
    background: #67C381;
    -webkit-box-shadow: 0px 12px 5px rgba(103, 195, 129, 0.04), 0px 7px 4px rgba(103, 195, 129, 0.12), 0px 3px 3px rgba(103, 195, 129, 0.2), 0px 1px 2px rgba(103, 195, 129, 0.24), 0px 0px 0px rgba(103, 195, 129, 0.24);
            box-shadow: 0px 12px 5px rgba(103, 195, 129, 0.04), 0px 7px 4px rgba(103, 195, 129, 0.12), 0px 3px 3px rgba(103, 195, 129, 0.2), 0px 1px 2px rgba(103, 195, 129, 0.24), 0px 0px 0px rgba(103, 195, 129, 0.24);
}

.button.primary {
    background: #4141D6;
    -webkit-box-shadow: 0px 12px 5px rgba(65, 65, 214, 0.04), 0px 7px 4px rgba(65, 65, 214, 0.12), 0px 3px 3px rgba(65, 65, 214, 0.2), 0px 1px 2px rgba(65, 65, 214, 0.24), 0px 0px 0px rgba(65, 65, 214, 0.24);
            box-shadow: 0px 12px 5px rgba(65, 65, 214, 0.04), 0px 7px 4px rgba(65, 65, 214, 0.12), 0px 3px 3px rgba(65, 65, 214, 0.2), 0px 1px 2px rgba(65, 65, 214, 0.24), 0px 0px 0px rgba(65, 65, 214, 0.24);
}