/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

:root {
    --glitter: url("https://assets.codepen.io/13471/silver-glitter-background.png"); 
  }

* {
    margin:0;
    padding:0;
}

html, body {
    background:#eeeeee;
    font-family: canada-type-gibson, sans-serif;
    font-style: normal;
    font-size: 14px;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 600;
}

.apple-request {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    background:#F16460;
    z-index: 20;
}

.apple-request .content{
    margin:auto;
    width:300px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color:white
}

.apple-request .content h1 {
    margin-bottom:0.4em
}

.apple-request .content p {
    margin-bottom:2em
}


.orientation {
    position: absolute;
    top:0;
    right:0;
    background:rgba(0,0,0,0.4);
    z-index: 888;
}

h1 {
    font-size: 3em;
}

.container {
    margin:0 auto;
    width: 380px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.text-bold {
    font-weight:600;
}

@keyframes moveTicket {
    0% {
        -webkit-transform: perspective(600px) rotateX(-30deg) rotateY(-30deg);
        transform: perspective(600px) rotateX(-30deg) rotateY(-30deg);
    } 
    33% {
        -webkit-transform: perspective(600px) rotateX(0deg) rotateY(0deg);
        transform: perspective(600px) rotateX(0deg) rotateY(0deg);

    }
    66% {

    }

    100% {
        -webkit-transform: perspective(600px) rotateX(30deg) rotateY(30deg);
        transform: perspective(600px) rotateX(30deg) rotateY(30deg);
    }
}

/**********
 * Ticket *  
***********/

/* Foundation */ 
.ticketHolder {
    margin:2em 0 1em 0;
    width:380px;
    height:auto;
    background:red
}

.ticket {
    position: relative;
    width:380px;
    height:380px;
    -webkit-filter: drop-shadow(0px 167px 67px rgba(0, 0, 0, 0.01)) 
            drop-shadow(0px 94px 56px rgba(0, 0, 0, 0.05)) 
            drop-shadow(0px 42px 42px rgba(0, 0, 0, 0.09)) 
            drop-shadow(0px 10px 23px rgba(0, 0, 0, 0.1));
    filter: drop-shadow(0px 167px 67px rgba(0, 0, 0, 0.01)) 
            drop-shadow(0px 94px 56px rgba(0, 0, 0, 0.05)) 
            drop-shadow(0px 42px 42px rgba(0, 0, 0, 0.09)) 
            drop-shadow(0px 10px 23px rgba(0, 0, 0, 0.1));
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;

    text-align: center;
    overflow: hidden;

    /*
    animation-name: moveTicket;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    */
  }


.ticket .top {
    padding:2em;
}

.ticket .ticketNumber {
    font-size: 3.4em;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}

.ticket img {
    border:1px solid #E6E1E5;
    margin-bottom:0.5em;
    width:44px;
    height:44px;
}

.ticket .shiny, 
.ticket .spotlight, 
.ticket .noise,
.ticket .content,
.ticket .goldStrip
.ticket .base {
    position: absolute;
    top:0;
    left:0;
    width:100%; 
    height:100%;
    
    -webkit-clip-path: path("M0 8.00001C0 3.58173 3.58172 0 8 0H372C376.418 0 380 3.58172 380 8V178C373.373 178 368 183.373 368 190C368 196.627 373.373 202 380 202V372C380 376.418 376.418 380 372 380H8.00001C3.58173 380 0 376.418 0 372V202C6.62742 202 12 196.627 12 190C12 183.373 6.62742 178 0 178V8.00001Z");
            clip-path: path("M0 8.00001C0 3.58173 3.58172 0 8 0H372C376.418 0 380 3.58172 380 8V178C373.373 178 368 183.373 368 190C368 196.627 373.373 202 380 202V372C380 376.418 376.418 380 372 380H8.00001C3.58173 380 0 376.418 0 372V202C6.62742 202 12 196.627 12 190C12 183.373 6.62742 178 0 178V8.00001Z");
            
}

.ticket .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height:100%;
    z-index: 10 !important;
}


.ticket .shiny {
    z-index: -2
}

.ticket .base {
    background-size: cover;
}

.ticket .border {
    background: url("cardWithBorder.svg");
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: 10;
}

.ticket .info {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding:1em 2em;
}

.ticket .status {
    text-align: left;
}

.ticket .booked {
   text-align: right;
}

.ticket .footer {
    border-top: 2px dashed rgba(0,0,0,0.2);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding:1em 2em;
}

.ticket .time-left {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.ticket .progressbar {
    width:100%;
    height:8px;
    border-radius: 8px;
    margin-top:4px;
    background:#D9D9D9;
    overflow: hidden;
}

.ticket .progressbar .fill {
    background:#F16460;
    width:75%;
    height:100%;
}

/* No Gradient */
.no-gradient {
    border: 4px solid transparent;
    color:black;
    text-shadow: 0px 0px transparent
}

.no-gradient .shiny {
    background: white !important;
}

.no-gradient .ticketNumber {
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
    background:black;
}

.no-gradient .spotlight {
    mix-blend-mode: normal;
}

.no-gradient .border, 
.no-gradient .noise {
    opacity: 0;
}

.no-gradient .progressbar {
    background:rgba(0,0,0,0.2);
}


/* Iridescent Dark*/
.iridescent-dark {
    color:white;
    text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.1);
}

.iridescent-dark .border {
    opacity:1;
}

.iridescent-dark .progressbar {
    background: rgba(0,0,0,0.4)
}

.iridescent-dark .progressbar .fill {
    background:white;
}

.iridescent-dark .footer {
    background:transparent;
    border-top: 2px dashed rgba(255,255,255,0.6);
    padding:1em 2em 2em 2em
}

.iridescent-dark .ticketNumber {
    text-shadow: 0;
    color:white;
}

.iridescent-dark .spotlight {
    opacity: 1;
}

.iridescent-dark .shiny {
    background-blend-mode: difference, normal;
    mix-blend-mode: normal;
}

.iridescent-dark .noise {
    opacity: 0.5;
    background-size: 100% 100%, 200% 200%;
    background-blend-mode: multiply, overlay;
    background-position: 50% 50%, 50% 50%;

    filter: brightness(2) contrast(1);

    /*mix-blend-mode: color-dodge;*/
    mix-blend-mode: luminosity;
}

/* Iridescent Light */
.iridescent-light .shiny {
    background-blend-mode: screen, difference, normal;
    mix-blend-mode: normal;
}

.iridescent-light {
    color:white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.iridescent-light .border {
    opacity:0;
}

.iridescent-light .progressbar {
    background: rgba(0,0,0,0.4)
}

.iridescent-light .progressbar .fill {
    background-color: white;
}

.iridescent-light .footer {
    background:transparent;
    border-top: 2px dashed rgba(255,255,255,0.6);
    padding:1em 2em 1em 2em
}

.iridescent-light .spotlight {
    opacity: 1;
}

.iridescent-light .shiny {
    background-blend-mode: screen, difference, normal;
    mix-blend-mode: normal;
}

.iridescent-light .noise {
    opacity: 1;
    background-size: 100% 100%, 200% 200%;
    background-blend-mode: overlay, soft-light;
    background-position: 50% 50%, 50% 50%;

    mix-blend-mode: soft-light;
}







/* Gold */
.gold {
    text-shadow: 0px 0px transparent;
    color:hsl(49, 98%, 18%);
}
.gold .border {
    opacity: 0;
}

.gold .ticketNumber {
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
}

.gold .progressbar {
    background:rgba(0,0,0,0.1)
}

.gold .progressbar .fill {
    background: #F16460
}

.gold .shiny {
    background: #F8F6F0 !important;
}

.gold .footer {
    border-top: 2px dashed rgba(0,0,0,0.2);
    padding: 1em 2em;
}

.gold .spotlight {
    mix-blend-mode: overlay;
}

.gold .noise {
    background-image: var(--glitter), -webkit-gradient(linear, left top, left bottom, from(#FDD835), to(#FDD835));
    background-image: var(--glitter), -o-linear-gradient(#FDD835 0%, #FDD835 100%);
    background-image: var(--glitter), linear-gradient(#FDD835 0%, #FDD835 100%);
    background-size: 100% 100%;

    mix-blend-mode: overlay;
}

/************************** 
 * Buttons, Form and list *  
***************************/

form {
    background: rgba(0,0,0,0.5);
    padding:1em;
    color:white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

form .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-line-pack: center;
        align-content: center;
}

form .item label {
    margin-right:1em;
    margin-bottom: 0;
}

.tab {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    border-bottom:1px solid rgba(0,0,0,0.2)
}

.tab .item {
    -ms-flex-preferred-size: 33.33%;
        flex-basis: 33.33%;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding:1em;
    border-bottom:4px solid transparent;
    font-size: 12px;
}

.tab .item img {
    width:40px;
    height:40px;
    margin-bottom:8px
}

.tab .item.active {
    border-bottom:2px solid #212121
}

.list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.list .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom:1px solid rgba(0,0,0,0.2);
    padding: 1em;
}

.button.startButton {
    background:white;
    color:black !important;
    border:0;
}

.button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 12px 24px;
    border-radius: 80px;
    font-weight: 600;
    color:white;
    text-transform: uppercase;
}

.button.fastTrack {
    background: #67C381;
    -webkit-box-shadow: 0px 12px 5px rgba(103, 195, 129, 0.04), 0px 7px 4px rgba(103, 195, 129, 0.12), 0px 3px 3px rgba(103, 195, 129, 0.2), 0px 1px 2px rgba(103, 195, 129, 0.24), 0px 0px 0px rgba(103, 195, 129, 0.24);
            box-shadow: 0px 12px 5px rgba(103, 195, 129, 0.04), 0px 7px 4px rgba(103, 195, 129, 0.12), 0px 3px 3px rgba(103, 195, 129, 0.2), 0px 1px 2px rgba(103, 195, 129, 0.24), 0px 0px 0px rgba(103, 195, 129, 0.24);
}

.button.primary {
    background: #4141D6;
    -webkit-box-shadow: 0px 12px 5px rgba(65, 65, 214, 0.04), 0px 7px 4px rgba(65, 65, 214, 0.12), 0px 3px 3px rgba(65, 65, 214, 0.2), 0px 1px 2px rgba(65, 65, 214, 0.24), 0px 0px 0px rgba(65, 65, 214, 0.24);
            box-shadow: 0px 12px 5px rgba(65, 65, 214, 0.04), 0px 7px 4px rgba(65, 65, 214, 0.12), 0px 3px 3px rgba(65, 65, 214, 0.2), 0px 1px 2px rgba(65, 65, 214, 0.24), 0px 0px 0px rgba(65, 65, 214, 0.24);
}